@tailwind base;
@tailwind components;
@tailwind utilities;

.navigation__icon {
  width: 1.2rem;
  height: 2px;
  background-color: #000;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  width: 1.2rem;
  height: 2px;
  background-color: #000;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  right: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.4rem;
}
.navigation__icon::after {
  top: 0.4rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -0.45rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 0.45rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  top: 0;
  transform: rotate(-135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  top: 0;
  transform: rotate(135deg);
}

.rocket-bg {
  background: #2454ff url("assets//svgs/rocket-01.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 80px;
}
.brain-bg {
  background: #000 url("assets//svgs/ai-brain-02.svg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 80px;
}
@media (max-width: 1770px) {
  .rocket-bg {
    width: 350px !important;
    height: 150px !important;
  }
  .brain-bg {
    width: 350px !important;
    height: 150px !important;
  }
}
@media (max-width: 1580px) {
  .rocket-bg {
    top: 20px !important;
  }
  .brain-bg {
    bottom: 20px !important;
  }
}
@media (max-width: 1523px) {
  .rocket-bg {
    right: 0px !important;
  }
  .brain-bg {
    left: 0px !important;
  }
}
@media (max-width: 1500px) {
  .rocket-bg {
    width: 300px !important;
    height: 150px !important;
    top: 0 !important;
  }
  .brain-bg {
    width: 300px !important;
    height: 150px !important;
    bottom: 0 !important;
  }
}
@media (max-width: 1300px) {
  .rocket-bg {
    width: 250px !important;
    height: 120px !important;
    top: 0 !important;
  }
  .rocket-bg > h2 {
    font-size: 20px !important;
  }
  .rocket-bg > p {
    font-size: 15px !important;
    line-height: 20px;
  }
  .brain-bg {
    width: 250px !important;
    height: 120px !important;
    bottom: 0 !important;
  }
  .brain-bg > p {
    font-size: 15px !important;
    line-height: 20px;
  }
  .brain-bg > img {
    width: 60px !important;
  }
}
@media (max-width: 1080px) {
  .rocket-bg {
    width: 220px !important;
    height: 100px !important;
    top: 0 !important;
    background-size: 40px;
  }

  .brain-bg {
    width: 220px !important;
    height: 100px !important;
    background-size: 40px;
  }
}
@media (max-width: 980px) {
  .rocket-bg {
    width: 200px !important;
    height: 100px !important;
    top: 0 !important;
    background-size: 40px;
  }

  .brain-bg {
    width: 200px !important;
    height: 100px !important;
    background-size: 40px;
  }
}
@media (max-width: 900px) {
  .rocket-bg {
    width: 180px !important;
    height: 90px !important;
    top: 0 !important;
    background-size: 40px;
  }
  .rocket-bg > h2 {
    font-size: 15px !important;
  }
  .rocket-bg > p {
    font-size: 12px !important;
    line-height: 15px;
  }

  .brain-bg {
    width: 180px !important;
    height: 90px !important;
    background-size: 40px;
  }
  .brain-bg > img {
    width: 40px !important;
  }
  .brain-bg > p {
    font-size: 12px !important;
    line-height: 15px;
  }
}

@media (max-width: 800px) {
  .rocket-bg {
    padding: 12px !important;
    border-radius: 15px !important;
    width: 150px !important;
    height: 70px !important;
  }
  .rocket-bg > p {
    font-size: 10px !important;
  }
  .rocket-bg > h2 {
    font-size: 12px !important;
    margin-top: 0 !important;
  }
  .brain-bg {
    padding: 12px !important;
    border-radius: 15px !important;
    width: 150px !important;
    height: 70px !important;
  }
  .brain-bg > p {
    font-size: 10px !important;
  }
  .brain-bg > img {
    width: 20px !important;
  }
}
@media (max-width: 700px) {
  .rocket-bg {
    padding: 8px !important;
    border-radius: 10px !important;
    width: 120px !important;
    height: 70px !important;
  }
  .brain-bg {
    padding: 8px !important;
    border-radius: 10px !important;
    width: 120px !important;
    height: 70px !important;
  }
}
@media (max-width: 600px) {
  .rocket-bg {
    padding: 8px !important;
    border-radius: 10px !important;
    width: 120px !important;
    height: 60px !important;
    background-size: 20px;
  }
  .rocket-bg > p {
    font-size: 7px !important;
    line-height: 10px !important;
  }
  .rocket-bg > h2 {
    font-size: 10px !important;
    margin-top: 0 !important;
  }
  .brain-bg {
    padding: 8px !important;
    border-radius: 10px !important;
    width: 120px !important;
    height: 60px !important;
    background-size: 20px;
  }
  .brain-bg > p {
    font-size: 7px !important;
    line-height: 10px !important;
  }
  .brain-bg > img {
    margin-top: 8px !important;
  }
}

@media (max-width: 530px) {
  .rocket-bg {
    padding: 8px !important;
    border-radius: 10px !important;
    width: 100px !important;
    height: 50px !important;
    background-size: 20px;
  }
  .rocket-bg > h2 {
    line-height: 20px;
  }
  .brain-bg {
    padding: 8px !important;
    border-radius: 10px !important;
    width: 100px !important;
    height: 50px !important;
    background-size: 20px;
  }
}
@media (max-width: 450px) {
  .rocket-bg {
    padding: 5px !important;
    border-radius: 7px !important;
    width: 80px !important;
    height: 45px !important;
    background-size: 20px;
  }
  .rocket-bg > h2 {
    line-height: 20px;
  }
  .rocket-bg > p {
    font-size: 5px !important;
    line-height: 8px !important;
  }
  .brain-bg {
    padding: 5px !important;
    border-radius: 7px !important;
    width: 80px !important;
    height: 45px !important;
    background-size: 20px;
  }
  .brain-bg > p {
    font-size: 5px !important;
    line-height: 8px !important;
  }
  .brain-bg > img {
    margin-top: 3px !important;
  }
}
@media (max-width: 400px) {
  .rocket-bg {
    border-radius: 7px !important;
    width: 73px !important;
    height: 38px !important;
    background-size: 20px;
  }
  .rocket-bg > h2 {
    font-size: 9px !important;
  }
  .brain-bg {
    padding: 5px !important;
    border-radius: 7px !important;
    width: 75px !important;
    height: 38px !important;
  }
  .brain-bg > img {
    margin-top: 5px !important;
    width: 15px !important;
  }
}
@media (max-width: 345px) {
  .rocket-bg {
    border-radius: 7px !important;
    width: 65px !important;
    height: 34px !important;
    background-size: 20px;
  }
  .rocket-bg > h2 {
    line-height: 12px;
  }
  .brain-bg {
    border-radius: 7px !important;
    width: 65px !important;
    height: 34px !important;
    background-size: 20px;
  }
}

.challenge {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./assets/img/challenges.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(./assets/img/top-footer-img.png),
    url(./assets/img/bottom-footer-img.png);
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

.box-shadow {
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
}

.about {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./assets/img/Ellipse-1.png"), url("./assets/img/Ellipse-2.png"),
    url("./assets/img/Ellipse-3.png");
    background-repeat: no-repeat;
    background-position: bottom left, bottom center, bottom right;
    
}
